%h3 TEAMS

- if current_user

  %li= link_to "Create New Team", new_team_path

  %h5 Current Teams
  - @teams.each do |team|
    %li= link_to "#{team.name}", team_path(id: team.id)

- else
  %li= link_to "Log In", new_user_session_path
  %li= link_to "Sign up", new_user_registration_path
