%h3= "Team #{@team.name}"

=form_tag(new_player_path, method: :get) do
  =hidden_field_tag :team_id, @team.id
  %h5= submit_tag 'Add Players to Team'

%p
  .row
    .col-md-6
      %table.table
        %thead
          %tr
            %th Player
            %th Position
            %th Team
            %th Injured
        %tbody
        - @players.each do |player|
          %tr
            %td= player.name
            %td= player.pos
            %td= player.nfl_team
            %td= player.injured ? "Yes" : "No"
    .col-md-6
