%h3 Enter your players below

 - if current_user
   %p
     = form_tag("/profile", method: "post") do
       = label_tag( "Add Player")
       %br
       = text_field_tag "player"
       = submit_tag "Submit"

 - else
   %li= link_to "Log In", new_user_session_path
   %li= link_to "Sign up", new_user_registration_path
